*{
    font-family: Montserrat;
}

body {
    margin-left: 0;
}

.mainWrap {
    width: 80%;
    margin: 0 auto;
    min-width: 360px;
    max-width: 560px;
}

.header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.headerPhoto {
    position: absolute;
    top: 20px;
    left: 0px;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.headerPhoto:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.svgBtnsWrap {
    display: flex;
    align-items: center;
}

.headerTitle {
    margin-top: 21px;
    width: 100%;
    padding-left: 41%;
}

.headerTitle > h2 {
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
}

.headerTitle > h1 {
    font-size: 16px;
    margin-bottom: 2px;
}

.headerQuote {
    margin-left: 16%;
    border: 1px solid #DADADA;
    background-color: #FFFBC8;
    border-radius: 5px;
}

.headerQuote > p {
    padding-left: 30%;
    font-size: 12px;
    padding-right: 6px;
}

.latestComments, .allComments {
    background: white;
    border: none;
    cursor: pointer;
}

.commentsMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.likeBtn, .commentBtn {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.likeCommentWrap {
    width: 100px;
}

.likeBtnSvg {
    fill: grey;
}

.likeBtnSvg:hover {
    fill: red
}

.likeBtnOn {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
    fill: red
}

@media screen and (max-width: 659px ) {
    .headerPhoto {
        top: 36px
    }
}