.statWrap {
    width: 80%;
    max-width: 720px;
    text-align: end;
    margin: 0 auto;
}

.statItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    padding-left: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 3px;
}

.statItem:nth-last-child(2) {
    padding-bottom: 16px;
}

.statBtn {
    width: 90%;
    text-align: start;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

.statText {
    margin: 0;
}

.statServices {
    width: 70%;
    margin-left: 30%;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 8px;
}

.statTotal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
    margin-left: 30%;
    border-top: 1px solid #DADADA;
}