*{
    font-family: Montserrat;
}

.mainWrap {
    width: 80%;
    margin: 0 auto;
    min-width: 360px;
    max-width: 720px;
}

.header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.headerPhoto {
    position: absolute;
    top: 20px;
    border-radius: 50%;
}

.headerTitle {
    margin-top: 21px;
    width: 100%;
    padding-left: 35%;
}

.headerTitle > h2 {
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
}

.headerTitle > h1 {
    font-size: 16px;
    margin-bottom: 2px;
}

.headerQuote {
    margin-left: 17%;
    border: 1px solid #DADADA;
    background-color: #FFFBC8;
    border-radius: 5px;
}

.headerQuote > p {
    padding-left: 20%;
    font-size: 12px;
}

.latestComments, .allComments {
    background: white;
    border: none;
    cursor: pointer;
}

.commentsMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.likeBtn, .commentBtn {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.likeCommentWrap {
    width: 100px;
}

.commentBtnSvg {
    fill: grey;
}

.commentBtnSvg:hover {
    fill: red
}

@media screen and (max-width: 480px ) {
    .headerTitle {
        padding-left: 46%;
    }

    .headerQuote > p {
        padding-left: 37%;
    }
}
@media screen and (max-width: 574px ) {
    .headerPhoto {
        top: 36px
    }
}